<!DOCTYPE html>
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Накорми кота!
        link(rel="stylesheet", href="css/main.css")
    body
        .l-wrap
            - 
                var items = {
                    1: {
                        'title': 'Нямушка',
                        'with': 'с фуа-гра',
                        'options': {
                            1: '10 порций',
                            2: 'мышь в подарок'
                            },
                        'weight': '0,5',
                        'img': 'images/cat-face',
                        'message': 'Печень утки разварная с артишоками.',
                        }, 
                    2: {
                        'title': 'Нямушка',
                        'with': 'с рыбой',
                        'options': {
                            1: '40 порций',
                            2: '2 мыши в подарок'
                            },
                        'weight': '2',
                        'img': 'images/cat-face',
                        'message': 'Головы щучьи с чесноком да свежайшая сёмгушка.',
                        'checked': 'checked',
                        }, 
                    3: {
                        'title': 'Нямушка',
                        'with': 'с курой',
                        'options': {
                            1: '100 порций',
                            2: '5 мышей в подарок',
                            2: 'заказчик доволен',
                            },
                        'weight': '5',
                        'img': 'images/cat-face',
                        'message': 'Филе из цыплят с трюфелями в бульоне.',
                        'disabled': 'disabled',
                        }, 
                }

            .wrap__inner
                h1 Ты сегодня покормил кота?
                .b-cats
                    .cats__items
                        each item, key in items
                            .cats__item
                                input.js-checkbox(
                                        type="checkbox", 
                                        id="cat-" + key,
                                        checked=(item.checked!==undefined ? "checked" : undefined),
                                        disabled=(item.disabled!==undefined ? "disabled" : undefined),
                                    )
                                label.cats__card.js-card(for="cat-" + key)
                                    .cats__content
                                        .cats__subtitle Сказочное заморское яство
                                        .cats__subtitle-no Котэ не одобряет?
                                        .cats__title #{item.title}
                                        .cats__with #{item.with}
                                        ul.cats__options
                                            li 
                                                strong 10 
                                                |  порций
                                            li мышь в подарок
                                    .cats__weight
                                        span
                                            ins #{item.weight}
                                            | кг
                                    .cats__pic
                                        picture
                                            source(srcset=item.img + ".webp" type="image/webp")
                                            source(srcset=item.img + ".png" type="image/png")
                                            img(src=item.img + ".png" alt="cat-face")
                                .cats__messages
                                    .cats__message.cats__message--default 
                                        | Чего сидишь? Порадуй котэ, 
                                        label(for="cat-" + key) купи
                                        | .
                                    .cats__message.cats__message--checked 
                                        | #{item.message}
                                    .cats__message.cats__message--disabled 
                                        | Печалька, #{item.with} закончился.
        script(src="js/main.js")